body {
	margin: auto;
	width: 1000px;
	font-family: Verdana, Geneva, sans-serif;
}
#top {
	float: left;
	width: 1000px;
	height: 100px;
	background-color: #F36;
	color: #FFF;
}
#main {
	float: left;
	width: 1000px;
}
#menu {
	float: left;
	width: 200px;
	background-color: #F96;
}
#menu ul {
	margin: 0px;
}
#menu a {
	color: #FFF;
	font-size: 12px;
}

#content {
	float: left;
	width: 800px;
}
#content h1 {
	font-size: 18px;
	color: #0CF;
	padding-left: 50px;
}

#footer {
	float: left;
	width: 1000px;
	height: 50px;
	background-color: #96C;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
}
