<h2>Tasks</h2> 
         <?php if(empty($tasks)): ?> 
             There are no tasks in this list 
         <?php else: ?> 
             <table> 
                 <tr> 
                     <th>Title</th> 
                     <th>Status</th> 
                     <th>Created</th> 
                     <th>Modified</th> 
                     <th>Actions</th> 
                 </tr> 
                 <?php foreach ($tasks as $task): ?> 
                     <tr> 
                        <td> 
                            <?php echo $task['Task']['title'] ?> 
                        </td> 
                        <td> 
                            <?php 
                                if($task['Task']['done']) echo "Done"; 
                                else echo "Pending"; 
                            ?> 
                        </td> 
                        <td> 
                           <?php //echo $task['Task']['created'] ?> 
                           <?php echo $this->time->niceShort($task['Task']['created']) ?> 
                        </td> 
                        <td> 
                            <?php //echo $task['Task']['modified'] ?> 
                             <?php echo $this->time->niceShort($task['Task']['modified']) ?> 
                        </td> 
                        <td> 
                            <!-- actions on tasks will be added later --> 
                            <?php echo $this->html->link('Edit', array('action'=>'edit',$task['Task']['id'])); ?> 
                            <?php echo $this->html->link('Delete', array('action'=>'delete',
                            $task['Task']['id']), null, 'Are you sure you want to delete this task_id = '.$task['Task']['id']);?>
                        </td> 
                     </tr> 
                 <?php endforeach; ?> 
             </table> 
         <?php endif; ?>
         <?php echo $this->html->link('Add Task', array('action'=>'add')); ?>
         <?php if($status): ?> 
              <?php echo $this->html->link('List All Tasks', array('action'=> 
                                                                     'index')); ?><br /> 
          <?php endif;?> 
          <?php if($status != 'done'): ?> 
              <?php echo $this->html->link('List Done Tasks', array('action'=> 
                                                       'index', 'done')); ?><br /> 
          <?php endif;?> 
          <?php if($status != 'pending'): ?> 
              <?php echo $this->html->link('List Pending Tasks', array('action'=> 
                                                       'index', 'pending')); ?><br /> 
          <?php endif;?> 